[init]
	defaultBranch = main

[commit]
	gpgsign = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[core]
	ignorecase = false

[gitbutler]
	signCommits = true

# Include local config (user, email, signing key)
[include]
	path = ~/.gitconfig.local
[user]
	email = damian.tziamtzis@gmail.com
	name = Damian Tziamtzis
